.badge {
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  display: inline-block;
  padding: 4px 12px;
}

.badge_primary {
  color: var(--blue);
  background-color: var(--blue-extra);
}

.badge_success {
  color: var(--green);
  background-color: var(--green-light);
}
